/ex005_MaiorEMedia.class
/ex_006_ParEImpar.class
/ex007_Tabuada.class
/ex008_Ftorial.class
/ex001_calculadora.class
/ex002_mensagem.class
/ex003_emprestimo$emprestimo.class
/ex003_emprestimo.class
/ex004_quadrilatero$QuadriLatero.class
/ex004_quadrilatero.class
